
<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"><meta charset="utf-8">
<title>投資初級</title>
<meta name="description" content="">
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//assets.peraichi.com/template_root/v2/template_files/css/style.css?1672819168" rel="stylesheet">

<script src="//assets.peraichi.com/js/const_common.js"></script><script src="//assets.peraichi.com/js/const_production.js"></script><script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
<link rel="icon" href="https://cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/623438de17379/original.png">
<meta property="og:image" content="https://cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/ogp/1152358.png">
<meta property="og:url" content="https://peraichi.com/landing_pages/view/syokyu"><script type="text/javascript" src="//assets.peraichi.com/js/libs/lazysizes.min.js?1672819168"></script><script type="text/javascript" src="//assets.peraichi.com/js/lazyLoad.js?1672819168"></script><script type="text/javascript" src="//assets.peraichi.com/cjs/dist/peraichi_setting.js?1672819438"></script>
<link rel="canonical" href="https://peraichi.com/landing_pages/view/syokyu/" /></head>
  <body class="theme-base theme-blank template-theme-default" data-template-name="blank" data-is-initial-val-of-template-theme="0" data-is-available-on-template-theme="true" style="overflow: auto; padding-top: 0px;">
        <div class="pera1-section block" data-structure="b-header-nav-logo-img" data-block-name="左画像+右メニュー" id="section-2">
  <div class="p-header">
    <div class="section">
      <div class="m_navigation p-m_navigation u-align-right pera1-editable" data-pera1-type="navigation" data-bgcolor="" style="text-align: right;">
        <div class="grid-wrapper grid-wrapper--lg p-navigation__wrapper">
          <div class="p-navigation row middle-xs">
            <div class="c-inner c-inner--vertical c-inner--one-elem c-inner-sp--sm">
              <div class="navigationHeader p-navigationHeader col-xs-12 col-md">
                <div class="p-header__nav-heading p-header__logo c-img c-img--responsive-v u-align-left pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62342e711b6fb/original.png" alt="" data-structure="e-img" style="">
                </div>
              </div>
              <div class="btn_navigationToggle p-btn_navigationToggle"><i class="fa"></i></div>
            </div>
            <ul class="m_navigationMenu p-m_navigationMenu col-xs-12 col-md u-fslg font-size-18px" data-textcolor="#333" style="color: rgb(51, 51, 51);" data-separation="slash"><li><a href="#section-8" target="_self">STEP 1</a></li><li><a href="#section-31" target="_self">STEP 2</a></li><li><a href="#section-38" target="_self">STEP 3</a></li><li><a href="#section-43" target="_self">MT4 トラブル対処法</a></li></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-main-set-2--left-overlay" data-block-name="メイン(左寄せ+ボタン透かし)" id="section-3">
  <div class="c-bg-img c-bg-img--cover p-main-set-2--left-overlay pera1-bg-editable" style="background-image: url(&quot;//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/623437f828d01/original.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;" data-bg-key="0">
    <div class="grid-wrapper">
      <div class="row middle-xs start-sm center-xs p-main">
        <div class="col-sm-6 col-xs-12">
          <div class="p-main-set-2--left-overlay__main c-inner c-inner--xl c-inner--vertical">
            <div class="p-main-set-2--left__heading c-heading c-heading--lg u-mbmd pera1-removable">
              <h2 data-structure="e-heading" class="pera1-editable"><strong>投資初級</strong></h2>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-heading-voice" data-block-name="見出し(セリフ調)" id="section-4">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
    <div class="c-wrapper u-align-center">
      <div class="p-heading__inner">
        <div class="p-premium-heading-voice__body">
          
          <div class="c-heading pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable">投資初級は全部で 3 STEP</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-steps" data-block-name="ステップ" id="section-5">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
    <div class="p-premium-steps">
      <div class="c-wrapper">
        <div class="c-inner c-inner--lg c-inner--one-elem c-inner--vertical">
          
          <div class="grid-wrapper grid-wrapper--full">
            <div class="p-premium-steps__list">
              <div class="row center-xs">
                <div class="col-sm-4 col-xs-12 start-xs p-premium-steps__arrow pera1-removable">
                  <div class="p-premium-steps__item">
                    <div class="p-premium-steps__item-header u-mbmd pera1-removable">
                      <div class="p-premium-steps__item-num pera1-removable">
                        <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">STEP 1</div>
                      </div>
                      
                    </div>
                    <div class="p-premium-steps__item-img c-img c-img--responsive u-mbmd u-align-center pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62343bfa58544/original.png" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="p-premium-steps__item-desc pera1-removable">
                      <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">PCの環境設定からトレードツールが使えるようになるまで</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 start-xs p-premium-steps__arrow pera1-removable">
                  <div class="p-premium-steps__item">
                    <div class="p-premium-steps__item-header u-mbmd pera1-removable">
                      <div class="p-premium-steps__item-num pera1-removable">
                        <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">STEP 2</div>
                      </div>
                      
                    </div>
                    <div class="p-premium-steps__item-img c-img c-img--responsive u-mbmd u-align-center pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/6234429d49cbc/original.jpg" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="p-premium-steps__item-desc pera1-removable">
                      <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">FXの基礎知識の習得</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 start-xs p-premium-steps__arrow pera1-removable pera1-multiple" data-elem-name="premium-steps">
                  <div class="p-premium-steps__item">
                    <div class="p-premium-steps__item-header u-mbmd pera1-removable">
                      <div class="p-premium-steps__item-num pera1-removable">
                        <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">STEP 3</div>
                      </div>
                      
                    </div>
                    <div class="p-premium-steps__item-img c-img c-img--responsive u-mbmd u-align-center pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62343ee42a48f/original.jpg" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="p-premium-steps__item-desc pera1-removable">
                      <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable"><ul><li>トレードに必要な知識の習得</li><li>テスト</li></ul></div>
                    </div>
                  </div>
                </div><div class="col-sm-4 col-xs-12 start-xs p-premium-steps__arrow pera1-removable pera1-ghost pera1-add" data-elem-name="premium-steps" style="opacity: 0; height: 50px;">
                  <div class="p-premium-steps__item">
                    <div class="p-premium-steps__item-header u-mbmd pera1-removable">
                      <div class="p-premium-steps__item-num pera1-removable">
                        <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">STEP 3</div>
                      </div>
                      
                    </div>
                    <div class="p-premium-steps__item-img c-img c-img--responsive u-mbmd u-align-center pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62343ee42a48f/original.jpg" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="p-premium-steps__item-desc pera1-removable">
                      <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable"><ul><li>トレードに必要な知識の習得</li><li>テスト</li></ul></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-put-on-bdr" data-block-name="見出し(中央線)" id="section-7">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading p-heading-put-on-bdr">
          <div class="p-heading-put-on-bdr__inner">
            <h2 data-structure="e-heading" class="pera1-editable"><strong>必要な持ち物</strong></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-cards--sp2col" data-block-name="上画像(2列・スマホ横並び)" id="section-6">
  <div class="p-cards--sp2col c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="4">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row center-xs">
            <div class="p-cards--sp2col__content-wrapper u-mbmd col-xs-6 col-sm-6 pera1-removable">
              <div class="c-img c-img--responsive u-mbmd pera1-removable"><div class="pera1-clip-image" data-image-clip-container="" style="max-width: 200px;width: 100%;margin: 0 auto;overflow: hidden;">
                    <figure style="position: relative;padding-top: 100%;overflow: hidden;">
                        <img src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62343cdb8cf5f/original.png" class="pera1-editable" style="position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;opacity: 0;" data-structure="e-img" alt="" data-clip-image-origin="" data-image-clip-settings="{&quot;x&quot;: 0, &quot;y&quot;: 0, &quot;scale&quot;: 0.95, &quot;type&quot;: &quot;origin&quot;}">
                        <div data-image-clip-viewer="" style="position: absolute;top: 50%;left: 50%;display: block;width: 100%;padding-top: 100%;margin: 0 auto;background-image: url(//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62343cdb8cf5f/original.png);background-position: center;background-size: cover;background-repeat: no-repeat;transform: translate(-50%, -50%) scale(0.95);transform-origin: center;pointer-events: none;"></div>
                        <div data-image-clip-spacer="" style="width: 100%;height: 100%;margin-top: -100%;">
                            <img src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62343cdb8cf5f/original.png" style="display: block;opacity: 0;pointer-events: none;">
                        </div>
                    </figure>
                </div>
              </div>
              <div class="c-heading u-mbmd pera1-removable">
                <h2 data-structure="e-heading" class="pera1-editable"><strong>ノートパソコン</strong></h2>
              </div>
              
              
            </div>
            <div class="p-cards--sp2col__content-wrapper u-mbmd col-xs-6 col-sm-6 pera1-removable pera1-multiple" data-elem-name="p-cards--sp2col">
              <div class="c-img c-img--responsive u-mbmd pera1-removable"><div class="pera1-clip-image" data-image-clip-container="" style="max-width: 150px;width: 100%;margin: 0 auto;overflow: hidden;">
                    <figure style="position: relative;padding-top: 141.33333333333334%;overflow: hidden;">
                        <img src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62343ce39f3a1/original.jpg" class="pera1-editable" style="position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;opacity: 0;" data-structure="e-img" alt="" data-clip-image-origin="" data-image-clip-settings="{&quot;x&quot;: 0, &quot;y&quot;: 0, &quot;scale&quot;: 0.95, &quot;type&quot;: &quot;origin&quot;}">
                        <div data-image-clip-viewer="" style="position: absolute;top: 50%;left: 50%;display: block;width: 100%;padding-top: 141.33333333333334%;margin: 0 auto;background-image: url(//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62343ce39f3a1/original.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;transform: translate(-50%, -50%) scale(0.95);transform-origin: center;pointer-events: none;"></div>
                        <div data-image-clip-spacer="" style="width: 100%;height: 100%;margin-top: -141.33333333333334%;">
                            <img src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62343ce39f3a1/original.jpg" style="display: block;opacity: 0;pointer-events: none;">
                        </div>
                    </figure>
                </div>
              </div>
              <div class="c-heading u-mbmd pera1-removable">
                <h2 data-structure="e-heading" class="pera1-editable"><strong>教科書</strong></h2>
              </div>
              
              
            </div><div class="p-cards--sp2col__content-wrapper u-mbmd col-xs-6 col-sm-6 pera1-removable pera1-ghost pera1-add" data-elem-name="p-cards--sp2col" style="opacity: 0; height: 50px;">
              <div class="c-img c-img--responsive u-mbmd pera1-removable"><div class="pera1-clip-image" data-image-clip-container="" style="max-width: 150px;width: 100%;margin: 0 auto;overflow: hidden;">
                    <figure style="position: relative;padding-top: 141.33333333333334%;overflow: hidden;">
                        <img src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62343ce39f3a1/original.jpg" class="pera1-editable" style="position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;opacity: 0;" data-structure="e-img" alt="" data-clip-image-origin="" data-image-clip-settings="{&quot;x&quot;: 0, &quot;y&quot;: 0, &quot;scale&quot;: 0.95, &quot;type&quot;: &quot;origin&quot;}">
                        <div data-image-clip-viewer="" style="position: absolute;top: 50%;left: 50%;display: block;width: 100%;padding-top: 141.33333333333334%;margin: 0 auto;background-image: url(//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62343ce39f3a1/original.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;transform: translate(-50%, -50%) scale(0.95);transform-origin: center;pointer-events: none;"></div>
                        <div data-image-clip-spacer="" style="width: 100%;height: 100%;margin-top: -141.33333333333334%;">
                            <img src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62343ce39f3a1/original.jpg" style="display: block;opacity: 0;pointer-events: none;">
                        </div>
                    </figure>
                </div>
              </div>
              <div class="c-heading u-mbmd pera1-removable">
                <h2 data-structure="e-heading" class="pera1-editable"><strong>教科書</strong></h2>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-arrow" data-block-name="見出し(矢印)" id="section-8">
  <div class="p-heading-arrow p-heading-arrow--v2">
    <div class="c-wrapper u-align-center">
      <div class="c-heading c-text p-heading-arrow__inner">
        <h2 data-structure="e-heading" class="pera1-editable">STEP1<br></h2>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" id="section-9">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="5">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div data-structure="e-text" data-custom-pc-fontsize="18px" class="pera1-editable">「PCの環境設定」から<br>「トレードツール(プラトレ)が使えるようになる」までを一緒に行っていきます。</div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-btm-bdr" data-block-name="見出し(下線)" id="section-10">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="6">
    <div class="c-wrapper u-align-center">
      <div class="p-heading__inner">
        <div class="c-heading p-heading-btm-bdr">
          <h2 data-structure="e-heading" class="pera1-editable"><strong>環境設定に使用するもの</strong></h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-cards--3col" data-block-name="上画像(3列)" id="section-11">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="7">
    <div class="c-wrapper c-wrapper--lg u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="pera1-removable">
          <div data-structure="m-cards">
            <div class="grid-wrapper grid-wrapper--full">
              <div class="row center-xs row-item-gutter--lg">
                <div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable">
                  <div data-structure="m-card">
                    <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/623439c28160c/original.png" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="c-heading u-mbmd pera1-removable">
                      <div data-structure="e-heading" class="pera1-editable">Google chrome</div>
                    </div>
                    <div class="p-m-card-text u-mbmd start-xs pera1-removable">
                      <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">Googlechromeをダウンロードしたら、<br>タスクバーにピン留めしておきましょう。<br><span data-custom-pc-fontsize="14px">　　　</span><br></div>
                    </div>
                    <div class="c-btn c-btn--min-half u-mbmd pera1-removable"><a class="pera1-editable" href="https://www.google.com/intl/ja_jp/chrome/" data-structure="e-btn" target="_blank">ダウンロード</a>
                    </div>
                  </div>
                </div>
                <div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable">
                  <div data-structure="m-card">
                    <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/623439d86b418/original.png" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="c-heading u-mbmd pera1-removable">
                      <div data-structure="e-heading" class="pera1-editable">High Low</div>
                    </div>
                    <div class="p-m-card-text u-mbmd start-xs pera1-removable">
                      <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">ID、パスワード、登録時のメールアドレスは控えておきましょう。また、HighLowをブックマークバー☆に追加しておきましょう。</div>
                    </div>
                    <div class="c-btn c-btn--min-half u-mbmd pera1-removable"><a class="pera1-editable" href="https://highlow.com/register?a_aid=60a32ea076dd7" data-structure="e-btn" target="_blank">口座開設</a>
                    </div>
                  </div>
                </div>
                <div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable pera1-multiple" data-elem-name="m-card">
                  <div data-structure="m-card">
                    <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/623439e605b7d/original.png" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="c-heading u-mbmd pera1-removable">
                      <div data-structure="e-heading" class="pera1-editable">XM MT4</div>
                    </div>
                    <div class="p-m-card-text u-mbmd start-xs pera1-removable">
                      <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">ID、パスワード、名前は控えておきましょう。<br>MT4をダウンロードしたらタスクバーにピン留めしておきましょう。</div>
                    </div>
                    <div class="c-btn c-btn--min-half u-mbmd pera1-removable"><a class="pera1-editable" href="https://www.xmtrading.com/jp/mt4" data-structure="e-btn" target="_blank">口座開設・ダウンロード</a>
                    </div>
                  </div>
                </div><div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable pera1-ghost pera1-add" data-elem-name="m-card" style="opacity: 0; height: 50px;">
                  <div data-structure="m-card">
                    <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/623439e605b7d/original.png" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="c-heading u-mbmd pera1-removable">
                      <div data-structure="e-heading" class="pera1-editable">XM MT4</div>
                    </div>
                    <div class="p-m-card-text u-mbmd start-xs pera1-removable">
                      <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">ID、パスワード、名前は控えておきましょう。<br>MT4をダウンロードしたらタスクバーにピン留めしておきましょう。</div>
                    </div>
                    <div class="c-btn c-btn--min-half u-mbmd pera1-removable"><a class="pera1-editable" href="https://www.xmtrading.com/jp/mt4" data-structure="e-btn" target="_blank">口座開設・ダウンロード</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-heading-frame" data-block-name="見出し(枠付き)" id="section-49">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="8">
    <div class="c-wrapper c-wrapper--no-gutter">
      <div class="p-heading__inner">
        <div class="p-premium-heading-frame u-align-center c-inner c-inner--one-elem">
          
          <div class="c-heading pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable"><strong>「プラトレ」ダウンロードページ</strong></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-full-left" data-block-name="左フル画像" id="section-13">
  <div class="p-article-img-full grid-wrapper grid-wrapper--full">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="9" data-bgcolor="#EBF9FF" style="background-image: none; background-color: rgb(235, 249, 255); --block-bg-color:#EBF9FF;">
      <div class="row row-item-gutter--none middle-xs center-xs">
        <div class="col-xs-12 col-sm pera1-removable">
          <div class="c-img c-img--full"><img class="pera1-editable" src="//cdn.peraichi.com/template_files/library/pakutaso/pakutaso_070/original.jpg" alt="" data-structure="e-img" style="">
          </div>
        </div>
        <div class="col-xs-12 col-sm start-xs u-mtmd pera1-removable">
          <div class="p-article-img-full__contents p-article-img-full-left__contents">
            
            <div class="u-mbmd pera1-removable">
              <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">プラカフェ専用のトレードツール<br>『プラトレ』を活用していきます。</div>
            </div>
            <div class="c-btn u-mbmd center-xs start-sm pera1-removable"><a class="pera1-editable" href="https://peraichi.com/landing_pages/view/puratore" data-structure="e-btn" target="_blank">ダウンロードページ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-balloon" data-block-name="吹き出し" id="section-50">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="10">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading p-heading-balloon">
          <h2 data-structure="e-heading" class="pera1-editable"><strong>「プラトレ」ダウンロード手順</strong></h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-btm-bdr" data-block-name="見出し(下線)" id="section-54">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="11">
    <div class="c-wrapper u-align-center">
      <div class="p-heading__inner">
        <div class="c-heading p-heading-btm-bdr">
          <h2 data-structure="e-heading" class="pera1-editable"><strong>Windows</strong></h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-movie" data-block-name="動画" id="section-18">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="12">
    <div class="c-wrapper c-wrapper--sm u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-embedly-object c-embedly-object--responsive u-mbmd pera1-removable">
          <div class="pera1-editable" data-pera1-type="embedly" data-structure="e-movie"><iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F17jAM7a1Ey4%3Ffeature%3Doembed&amp;display_name=YouTube&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D17jAM7a1Ey4&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F17jAM7a1Ey4%2Fhqdefault.jpg&amp;key=647b63d8c58a4c27a568a4288a34ed74&amp;type=text%2Fhtml&amp;schema=youtube" width="500" height="281" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-btm-bdr" data-block-name="見出し(下線)" id="section-55">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="13">
    <div class="c-wrapper u-align-center">
      <div class="p-heading__inner">
        <div class="c-heading p-heading-btm-bdr">
          <h2 data-structure="e-heading" class="pera1-editable"><strong>Mac</strong></h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-movie" data-block-name="動画" id="section-20">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="14">
    <div class="c-wrapper c-wrapper--sm u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
          <h2 data-structure="e-heading" class="pera1-editable"><span data-custom-pc-fontsize="20px">※<span style="background-color: rgb(247, 201, 15);" data-mce-style="background-color: #f7c90f;">2020年11月<strong>以降</strong></span>にMT4をダウンロードされた方はこちら</span></h2>
        </div>
        <div class="c-embedly-object c-embedly-object--responsive u-mbmd pera1-removable">
          <div class="pera1-editable" data-pera1-type="embedly" data-structure="e-movie"><iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F-FJ092xV1vs%3Ffeature%3Doembed&amp;display_name=YouTube&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D-FJ092xV1vs&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F-FJ092xV1vs%2Fhqdefault.jpg&amp;key=647b63d8c58a4c27a568a4288a34ed74&amp;type=text%2Fhtml&amp;schema=youtube" width="500" height="281" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-dashed" data-block-name="区切り線(破線)" id="section-56">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="15">
    <div class="c-inner c-inner--md c-inner--vertical c-inner--one-elem">
      <hr class="c-hr-dashed" data-structure="e-hr-dashed">
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-movie" data-block-name="動画" id="section-22">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="16">
    <div class="c-wrapper c-wrapper--sm u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
          <h2 data-structure="e-heading" class="pera1-editable"><span data-custom-pc-fontsize="20px">※<span style="background-color: #f7c90f;" data-mce-style="background-color: #f7c90f;">2020年11月<strong>以前</strong></span>にMT4をダウンロードされた方はこちら</span></h2>
        </div>
        <div class="c-embedly-object c-embedly-object--responsive u-mbmd pera1-removable">
          <div class="pera1-editable" data-pera1-type="embedly" data-structure="e-movie"><iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F9HQjPb-isjU%3Ffeature%3Doembed&amp;display_name=YouTube&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D9HQjPb-isjU&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F9HQjPb-isjU%2Fhqdefault.jpg&amp;key=647b63d8c58a4c27a568a4288a34ed74&amp;type=text%2Fhtml&amp;schema=youtube" width="500" height="281" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-heading-frame" data-block-name="見出し(枠付き)" id="section-51">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="17">
    <div class="c-wrapper c-wrapper--no-gutter">
      <div class="p-heading__inner">
        <div class="p-premium-heading-frame u-align-center c-inner c-inner--one-elem">
          
          <div class="c-heading pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable"><strong>プラトレのエントリー方法「準備編」</strong></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-movie" data-block-name="動画" id="section-26">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="18">
    <div class="c-wrapper c-wrapper--sm u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-embedly-object c-embedly-object--responsive u-mbmd pera1-removable">
          <div class="pera1-editable" data-pera1-type="embedly" data-structure="e-movie"><iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FCNETE6G_iMA%3Ffeature%3Doembed&amp;display_name=YouTube&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DCNETE6G_iMA&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FCNETE6G_iMA%2Fhqdefault.jpg&amp;key=647b63d8c58a4c27a568a4288a34ed74&amp;type=text%2Fhtml&amp;schema=youtube" width="500" height="281" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-heading-frame" data-block-name="見出し(枠付き)" id="section-52">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="19">
    <div class="c-wrapper c-wrapper--no-gutter">
      <div class="p-heading__inner">
        <div class="p-premium-heading-frame u-align-center c-inner c-inner--one-elem">
          
          <div class="c-heading pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable"><strong>プラトレのエントリー方法「実践編」</strong></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-movie" data-block-name="動画" id="section-53">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="20">
    <div class="c-wrapper c-wrapper--sm u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-embedly-object c-embedly-object--responsive u-mbmd pera1-removable">
          <div class="pera1-editable" data-pera1-type="embedly" data-structure="e-movie"><iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FdpIuCmibO3E%3Ffeature%3Doembed&amp;display_name=YouTube&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DdpIuCmibO3E&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FdpIuCmibO3E%2Fhqdefault.jpg&amp;key=647b63d8c58a4c27a568a4288a34ed74&amp;type=text%2Fhtml&amp;schema=youtube" width="500" height="281" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-heading-frame" data-block-name="見出し(枠付き)" id="section-29">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="21">
    <div class="c-wrapper c-wrapper--no-gutter">
      <div class="p-heading__inner">
        <div class="p-premium-heading-frame u-align-center c-inner c-inner--one-elem">
          
          <div class="c-heading pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable">プラトレの８通貨</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-list-center-img" data-block-name="リスト(中央画像)" id="section-30">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="22">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--one-elem c-inner--vertical">
        
        <div class="p-list-center-img">
          <div class="p-list-center-img__img c-img c-img--responsive"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62358f47b7e53/original.jpg" alt="" data-structure="e-img" style="">
          </div>
          <ul class="pera1-sortable" data-structure="m-list">
            <li class="pera1-sortable-item pera1-removable" data-structure="e-list-item">
              <div class="u-clearfix">
                <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_check.svg" alt="" width="25" data-structure="e-img">
                </div>
                <div data-custom-pc-fontsize="16px" class="u-overflow-hidden pera1-editable">USD/JPY　「ドルエン」</div>
              </div>
            </li>
            <li class="pera1-sortable-item pera1-removable" data-structure="e-list-item">
              <div class="u-clearfix">
                <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_check.svg" alt="" width="25" data-structure="e-img">
                </div>
                <div data-custom-pc-fontsize="16px" class="u-overflow-hidden pera1-editable">GBP/AUD　「ポンオージー」</div>
              </div>
            </li>
            <li class="pera1-sortable-item pera1-removable" data-structure="e-list-item">
              <div class="u-clearfix">
                <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_check.svg" alt="" width="25" data-structure="e-img">
                </div>
                <div data-custom-pc-fontsize="16px" class="u-overflow-hidden pera1-editable">CHF/JPY　「フランエン」</div>
              </div>
            </li>
            <li class="pera1-sortable-item pera1-removable" data-structure="e-list-item">
              <div class="u-clearfix">
                <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_check.svg" alt="" width="25" data-structure="e-img">
                </div>
                <div data-custom-pc-fontsize="16px" class="u-overflow-hidden pera1-editable">EUR/GBP　「ユロポン」</div>
              </div>
            </li>
            <li class="pera1-sortable-item pera1-removable" data-structure="e-list-item">
              <div class="u-clearfix">
                <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_check.svg" alt="" width="25" data-structure="e-img">
                </div>
                <div data-custom-pc-fontsize="16px" class="u-overflow-hidden pera1-editable">GBP/JPY　「ポンエン」</div>
              </div>
            </li>
            <li class="pera1-sortable-item pera1-removable pera1-multiple" data-structure="e-list-item" data-elem-name="list-item">
              <div class="u-clearfix">
                <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_check.svg" alt="" width="25" data-structure="e-img">
                </div>
                <div data-custom-pc-fontsize="16px" class="u-overflow-hidden pera1-editable">EUR/USD　「ユロドル」</div>
              </div>
            </li><li class="pera1-sortable-item pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
              <div class="u-clearfix">
                <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_check.svg" alt="" width="25" data-structure="e-img">
                </div>
                <div data-custom-pc-fontsize="16px" class="u-overflow-hidden pera1-editable">GBP/USD　「ポンドル」</div>
              </div>
            </li><li class="pera1-sortable-item pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
              <div class="u-clearfix">
                <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_check.svg" alt="" width="25" data-structure="e-img">
                </div>
                <div data-custom-pc-fontsize="16px" class="u-overflow-hidden pera1-editable">EUR/AUD　「ユロオージー」</div>
              </div>
            </li><li class="pera1-sortable-item pera1-removable pera1-ghost pera1-add" data-structure="e-list-item" data-elem-name="list-item" style="opacity: 0; height: 50px;">
              <div class="u-clearfix">
                <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_check.svg" alt="" width="25" data-structure="e-img">
                </div>
                <div data-custom-pc-fontsize="16px" class="u-overflow-hidden pera1-editable">EUR/USD　「ユロドル」</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-arrow" data-block-name="見出し(矢印)" id="section-31">
  <div class="p-heading-arrow p-heading-arrow--v2">
    <div class="c-wrapper u-align-center">
      <div class="c-heading c-text p-heading-arrow__inner">
        <h2 data-structure="e-heading" class="pera1-editable">STEP 2</h2>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-left--blackboard" data-block-name="黒板" id="section-33">
  <div class="p-article-img-left--blackboard c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="23">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--one-elem c-inner--vertical">
        <div class="p-article-img-left--blackboard__inner">
          
          <div class="grid-wrapper grid-wrapper--full">
            <div class="row row-item-gutter--lg center-xs">
              <div class="col-xs-12 col-sm-5 basis-auto-sm u-align-center u-mbmd u-mbmd--sp pera1-removable">
                <div class="c-img c-img--responsive"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62343ce39f3a1/original.jpg" alt="" data-structure="e-img" style="">
                </div>
              </div>
              <div class="col-xs-12 col-sm pera1-removable">
                <div class="u-mbmd p-article-lead-text u-align-left pera1-removable">
                  <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">投資・ITコースで行う投資は「バイナリーオプション」を行っていきます。<br>「バイナリーオプション」はFX(為替)の知識を必要とするので、<br>STEP 2ではFXの基礎を座学で一緒に習得していきます。</div>
                </div>
                
                <div class="u-mbmd p-article-main-text u-align-left pera1-removable">
                  <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable"><p>1-1　　　　　　FXの仕組み</p><p>1-2　　　　　　FXの取引時間</p><p>1-3　　　　　　買い・売り</p><p>1-7　　　　　　誰が為替市場を動かしているのか</p><p>1-10, 5-4, 5-5 経済指標・情報ツール（Yahooファイナンス）</p><p>2-9　　　　　　ローソク足の読み方</p></div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-left" data-block-name="左画像" id="section-34">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="24">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row row-item-gutter--lg">
            <div class="col-xs-12 col-sm-5 basis-auto-sm u-align-center u-mbmd u-mbmd--sp pera1-removable">
              <div class="c-img c-img--responsive"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/623595e5bcc58/original.jpg" alt="" data-structure="e-img" style="">
              </div>
            </div>
            <div class="col-xs-12 col-sm">
              
              <div class="u-mbmd p-article-subhead pera1-removable">
                <div data-structure="e-text" class="pera1-editable"><span data-custom-pc-fontsize="28px"><strong>経済指標</strong></span></div>
              </div>
              <div class="u-mbmd p-article-main-text pera1-removable">
                <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">エントリーを避ける時間が確認できます。<br>Yahoo！Japanファイナンスをブックマークバー☆に追加しておきましょう。</div>
              </div>
              <div class="c-btn center-xs start-sm u-mbmd pera1-removable"><a class="pera1-editable" href="https://info.finance.yahoo.co.jp/fx/marketcalendar/" data-structure="e-btn" target="_blank">Yahoo！Japanファイナンス</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-heading-icon" data-block-name="見出し(アイコン付き)" id="section-37">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="25">
    <div class="c-wrapper u-align-center">
      <div class="p-heading__inner">
        <div class="c-img c-img--responsive u-mbxs p-premium-heading-icon__icon pera1-removable"><div class="pera1-clip-image" data-image-clip-container="" style="max-width: 1600px;width: 100%;margin: 0 auto;overflow: hidden;">
                    <figure style="position: relative;padding-top: 60%;overflow: hidden;">
                        <img src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/623597dd9a737/original.jpg" class="pera1-editable" style="position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;opacity: 0;" data-structure="e-img" alt="" data-clip-image-origin="" data-image-clip-settings="{&quot;x&quot;: 32, &quot;y&quot;: 32, &quot;scale&quot;: 1.3, &quot;type&quot;: &quot;origin&quot;}">
                        <div data-image-clip-viewer="" style="position: absolute;top: 50%;left: 50%;display: block;width: 100%;padding-top: 60%;margin: 0 auto;background-image: url(//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/623597dd9a737/original.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;transform: translate(-44.48275862068965%, -40.804597701149426%) scale(1.3);transform-origin: center;pointer-events: none;"></div>
                        <div data-image-clip-spacer="" style="width: 100%;height: 100%;margin-top: -60%;">
                            <img src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/623597dd9a737/original.jpg" style="display: block;opacity: 0;pointer-events: none;">
                        </div>
                    </figure>
                </div>
        </div>
        <div class="c-heading p-heading-put-on-bdr u-align-center">
          <div class="p-heading-put-on-bdr__inner">
            <h2 data-structure="e-heading" class="pera1-editable"><strong>小テスト</strong></h2>
          </div>
        </div>
        <div class="p-premium-heading-icon__text pera1-removable">
          <div data-structure="e-text" data-custom-pc-fontsize="18px" class="pera1-editable">STEP 2の確認</div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-btn-contact" data-block-name="お問い合わせ（ボタン２つ）" id="section-35">
  <div class="p-btn-contact c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="26" data-bgcolor="#FFFFFF" style="background-image: none; background-color: rgb(255, 255, 255);">
    <div class="c-wrapper c-wrapper--no-gutter u-align-center">
      <div class="p-btn-contact__contact-area-wrapper c-inner--lg u-pblg">
        <div class="p-btn-contact__contact-area-inner c-wrapper c-wrapper--sm c-inner u-pbmd">
          
          
          <div class="p-btn-contact__button-wrapper u-flex c-inner u-pbmd">
            <div class="c-btn pera1-removable u-width-100per u-mrmd"><a class="pera1-editable" href="https://drive.google.com/file/d/1HJ-DAMTfh7iMqv8u3mzfP-UoOJBeWJjT/view" data-structure="e-btn" target="_blank">①</a>
            </div>
            <div class="c-btn pera1-removable u-width-100per"><a class="pera1-editable" href="https://drive.google.com/file/d/1VzchHEAEPivR5oqj9wjIFCl67UvPujyo/view" data-structure="e-btn" target="_blank">②</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-arrow" data-block-name="見出し(矢印)" id="section-38">
  <div class="p-heading-arrow p-heading-arrow--v2">
    <div class="c-wrapper u-align-center">
      <div class="c-heading c-text p-heading-arrow__inner">
        <h2 data-structure="e-heading" class="pera1-editable">STEP&nbsp;3</h2>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-left--blackboard" data-block-name="黒板" id="section-40">
  <div class="p-article-img-left--blackboard c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="27">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--one-elem c-inner--vertical">
        <div class="p-article-img-left--blackboard__inner">
          
          <div class="grid-wrapper grid-wrapper--full">
            <div class="row row-item-gutter--lg center-xs">
              <div class="col-xs-12 col-sm-5 basis-auto-sm u-align-center u-mbmd u-mbmd--sp pera1-removable">
                <div class="c-img c-img--responsive"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62343ce39f3a1/original.jpg" alt="" data-structure="e-img" style="">
                </div>
              </div>
              <div class="col-xs-12 col-sm pera1-removable">
                <div class="u-mbmd p-article-lead-text u-align-left pera1-removable">
                  <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">投資は専門用語が多いため、<br>最低限必要の言葉の意味と知識を習得していきます。</div>
                </div>
                
                <div class="u-mbmd p-article-main-text u-align-left pera1-removable">
                  <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable"><p>2-1　　　　　　トレンド、レンジ</p><p>2-3　　　　　　順張り・逆張り</p><p>2-5　　　　　　投資スタイル</p><p>2-7　　　　　　テクニカル・ファンダメンタルズ</p><p>2-9　　　　　　ローソク足</p><p>4-4　　　　　　ナンピン・マーチン</p><p>4-5, 5-6　 　&nbsp; &nbsp; マイルール・思考</p></div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-article-box-img-right" data-block-name="右画像" id="section-41">
  <div class="c-bg-color c-bg-img--cover pera1-bg-editable" data-bg-key="28">
    <div class="c-wrapper p-premium-article-box__wrapper">
      <div class="c-heading c-heading--block-main u-mbmd u-align-center pera1-removable">
        <h2 data-structure="e-heading" class="pera1-editable"><strong>テスト</strong></h2>
      </div>
      <div class="grid-wrapper">
        <div class="row center-xs middle-sm">
          <div class="col-xs-12 col-sm-6 basis-auto-sm last-sm pera1-removable">
            <div class="c-img c-img--responsive"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/623599a4e8cb9/original.jpg" alt="" data-structure="e-img" style="">
            </div>
          </div>
          <div class="col-xs-12 col-sm pera1-removable">
            <div class="p-premium-article-box__text u-align-left pera1-removable">
              <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable"><p>中級では実践の勉強を中心に行っていきますので、<br>筆記テストと実技の確認を通して、<br>STEP１～３の内容を習得出来ているかの確認をしていきます。<br></p><p>中級への参加条件：「筆記テスト」の合格者<br><br></p><p>◆筆記テスト</p><p>・教科書から出題<br>・20問中17問正解で合格<br><br></p><p>◆実技の確認</p><p>「トレードツールがダウンロード出来るか」<br>「トレードツールがサイン通り使えるか」の確認をしていきます。</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-left--bdr" data-block-name="左画像(枠付)" id="section-43">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="29">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--one-elem c-inner--vertical">
        <div class="c-border c-inner c-inner--lg p-article--bdr__box">
          <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable"><div style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(56, 154, 220);" data-mce-style="color: #389adc;"><strong>MT4 トラブル対処法</strong></span></div></h2>
          </div>
          <div class="grid-wrapper grid-wrapper--full">
            <div class="row row-item-gutter--lg">
              <div class="col-xs-12 col-sm-5 basis-auto-sm u-align-center pera1-removable">
                <div class="c-img c-img--responsive u-mbmd"><div class="pera1-clip-image" data-image-clip-container="" style="max-width: 1600px;width: 100%;margin: 0 auto;overflow: hidden;">
                    <figure style="position: relative;padding-top: 60%;overflow: hidden;">
                        <img src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62359e3daaa03/original.jpg" class="pera1-editable" style="position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;opacity: 0;" data-structure="e-img" alt="" data-clip-image-origin="" data-image-clip-settings="{&quot;x&quot;: 16, &quot;y&quot;: -22, &quot;scale&quot;: 0.85, &quot;type&quot;: &quot;origin&quot;}">
                        <div data-image-clip-viewer="" style="position: absolute;top: 50%;left: 50%;display: block;width: 100%;padding-top: 60%;margin: 0 auto;background-image: url(//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62359e3daaa03/original.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;transform: translate(-47.241379310344826%, -56.32183908045977%) scale(0.85);transform-origin: center;pointer-events: none;"></div>
                        <div data-image-clip-spacer="" style="width: 100%;height: 100%;margin-top: -60%;">
                            <img src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/62359e3daaa03/original.jpg" style="display: block;opacity: 0;pointer-events: none;">
                        </div>
                    </figure>
                </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm">
                
                
                <div class="u-mbmd p-article-main-text pera1-removable">
                  <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable"><span data-custom-pc-fontsize="18px"><br>トレードを行っていく中で、</span><br><span data-custom-pc-fontsize="18px">MT4に関して困った事があればこちらからご確認下さい。</span></div>
                </div>
                <div class="c-btn u-mbmd center-xs start-sm pera1-removable"><a class="pera1-editable" href="https://drive.google.com/file/d/1NOqhwkw2CutSC7nF3gIPRM6I4xII_OYI/view" data-structure="e-btn" target="_blank" style="background-color: rgb(204, 14, 100);">対処法はこちら</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-nav-sp-unfold" data-block-name="フッターメニュー" id="section-46">
  <div class="section">
    <div class="m_navigation p-m_navigation u-align-left pera1-editable" data-pera1-type="navigation" data-bgcolor="" style="text-align: left;">
      <div class="c-wrapper">
        <div class="c-inner c-inner--vertical u-pbsm">
          <div class="p-navigation middle-xs">
            <ul class="m_navigationMenu p-m_navigationMenu p-nav-sp-unfold u-fslg font-size-18px" data-textcolor="#333" style="color: rgb(51, 51, 51);" data-separation="slash"><li><a href="#section-8" target="_self">STEP 1</a></li><li><a href="#section-31" target="_self">STEP 2</a></li><li><a href="#section-38" target="_self">STEP 3</a></li><li><a href="#section-43" target="_self">MT4 トラブル対処法</a></li><li><a href="#section-3" target="_self">TOPに戻る</a></li></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="30">
            <div class="c-wrapper c-wrapper">
              <div class="p-footer__inner">
                <div class="u-align-center">
                      <div data-structure="e-text" class="pera1-editable">Copyright © 2022 プラカフェ株式会社 All Right Reserved.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
  



























<script id="tmpl_nav" type="text/x-template">
          <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
<script id="template_html" type="text/x-template"></script><script src="https://analytics.peraiti.com/scripts/beacon.min.js?tracking_codes=zGMEVmUL6vFvKaG"></script>
</body></html>
